.register_div {
  max-width: 60%;
}

.register_div > label {
  font-size: 10px;
}

form > .register_btn {
  max-width: 30%;
  /* text-align: center; */
  margin-left: auto;
  margin-right: 15%;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  form > .register_btn {
    /* max-width: 30%; */
    min-width: 100%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .btn-dark {
    border: none;
  }
}
